CALLE_API_KEY=
CALLE_BASE_URL=https://api.heycall-e.com
CALLE_WEBHOOK_SECRET=
CALLE_TIMEOUT_MS=30000
CALLE_MAX_RETRIES=3
CALLE_ALLOWED_REGIONS=CA,US,GB,AU,SG,IN
CALLE_DEMO_MODE=true
CALLE_LIVE_TEST=false
